.column {
  background: var(--white);
  border-radius: 8px;
  padding: 10px;
  height: 600px;
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.column-title {
  font-size: 1.2em;
  font-weight: bold;
}

.badge {
  background-color: var(--accent);
  padding: 5px 10px;
  border-radius: 20px;
  min-width: 30px;
  min-height: 20px;
  text-align: center;
  font-weight: 600;
  color: var(--white);
}

.column-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background);
  padding: 5px;
  overflow-y: scroll;
  border-radius: 10px;
  height: 92%;
}

@media screen and (max-width: 768px) {
  .column-title {
    font-size: 0.72em;
  }
  .badge {
    font-size: 10px;
    min-width: 10px;
    margin: 5px;
    padding: 2px 7px;
  }
}
